* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url("../Assets/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.container {
  flex: 0 1 430px;
  background-color: #fff;
  border-radius: 11px;

  .header {
    padding: 60px 0;
    background-image: url("../Assets/Pattern.png");
    background-color: #2355f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 11px 11px 0 0;

    h1 {
      max-width: 262px;
      text-align: center;
      font-weight: 600;
      font-size: 26px;
      color: #fff;
      margin: 0 auto;
    }
  }

  .content {
    padding: 30px;
    padding-bottom: 0;
    border-radius: 0 0 11px 11px;

    p {
      line-height: 19px;
      color: #595959;
      margin-bottom: 25px;
      text-align: center;
    }

    form {
      div {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;

        input {
          flex: 1;
          padding: 17px;
          border: 1px solid #e6e8f0;
          border-radius: 6px;
          background-color: #f5f7fa;
          outline: none;
          font-size: 14px;

          &::placeholder {
            color: #b3b7c5;
          }
        }

        button {
          font-size: 14px;
          padding: 17px 25px;
          border-radius: 6px;
          background-color: #2355f2;
          color: #fff;
          border: none;
          transition: 0.3s;

          &:hover {
            background-color: #2a47a5;
            cursor: pointer;
          }
        }
      }

      span {
        color: #b3b7c5;
      }
    }
  }

  .footer {
    padding: 30px 28px;
    text-align: center;
    line-height: 19px;
    color: #595959;
  }
}
